/* TOP SPACE STYLE */

.top-space {
    height: 30px;
}

/* JUMBOTRON STYLE */

img {
    border-radius: 50%;
  }

h1 {
  color: midnightblue;
}

/* ABOUT ME STYLE */

/* CARD STYLE */

/* BOTTOM SPACE STYLE */